:root{
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);
    
    --font-light:200;
    --font-mid:400;
    --font-heavy:600;
    
    --selected-font:"Poppins", "Arial", sans-serif;
}

body{
    background:var(--white);
}

.wrapper{
    display:grid;
    font-size:var(--paragraph-size);
    font-family:var(--selected-font);
    justify-content:center;
    align-items:center;
    gap:30px;
    background:var(--white);
}

.li{ font-weight:var(--font-light); }

.mi{ 
    font-weight:var(--font-mid); 
    color:var(--grey-500);
}

.hv{ 
    font-weight:var(--font-heavy);
    font-size:20px;
}

.card{
    width:250px;
    aspect-ratio:4/3;
    display:flex;
    flex-direction:column;
    padding: 50px 50px 50px 50px;
}

h1{
    font-size:20px;
}

.image-place{
    justify-self:end;
    align-self:end;
    margin-top:50px;
}


#title{
    aspect-ratio:4/2;
    padding: 0;
    width:350px;
    display:flex;
    flex-direction:column;
    align-items:center;
    line-height:1rem;
    text-align:center;
}

#supervisor{
    box-shadow: 0 18px 18px -9px var(--grey-400);
    border: solid 0.3em var(--white);
    border-top-color: var(--cyan);
    border-radius:1rem;
}

#teamBuilder{
    box-shadow: 0 18px 18px -9px var(--grey-400);
    border: solid 0.3em var(--white);
    border-top-color: var(--red);
    border-radius:1rem;
}

#karma{
    box-shadow: 0 18px 18px -9px var(--grey-400); 
    border: solid 0.3em var(--white);
    border-top-color: var(--orange);
    border-radius:1rem;
}

#calc{
    box-shadow: 0 18px 18px -9px var(--grey-400);    
    border: solid 0.3em var(--white);
    border-top-color: var(--blue);
    border-radius:1rem;
}

@media (min-width:781px) and (orientation: landscape){

    h1{ font-size:50px; }

    #tagline{ font-size:50px; }

    .wrapper{
        display: grid;
    
        grid-template-rows:1fr 1fr 1fr;
        grid-template-columns:1fr 1fr 1fr;
        gap:10px;
    }

    #title{
        grid-column:auto /span 3;
        grid-row:1 / 2;
        width:100%;
        height:200px;

    }

    #supervisor{
        grid-column:1 / 2;
        margin-bottom:-310px;
    }

    #teamBuilder{
        grid-column:2 / 3;
    }

    #karma{
        grid-column:2 / 3;
    }

    #calc{
        grid-column: 3/4;
        margin-top:-350px;
    }
}